#proveit {
	background: white;
	font-size: .8em;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9;
}

.skin-monobook #proveit {
	font-size: 120%;
}

#proveit-header {
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

#proveit-logo {
    background: black;
    color: white;
	cursor: pointer;
	float: right;
	font-family: monospace;
    font-size: 1.4em;
    height: 43px;
    line-height: 43px;
}
.proveit-bracket {
    color: yellow;
    font-size: 2.3em;
    font-weight: bold;
    position: relative;
    vertical-align: bottom;
}

#proveit-body {
	background: #f4f4f4;
	overflow-y: scroll;
	width: 700px;
	max-height: 300px;
	resize: none;
}

@-moz-document url-prefix() { 
	#proveit-form {
		margin-bottom: 50px;
	}
}

#proveit-list {
	margin: 0;
	padding: 0;
}

#proveit-list .proveit-item {
	margin: 0;
	overflow: hidden;
	padding: 5px 10px;
}

#proveit-list .proveit-item:nth-child(even) {
	background: #fff;
}

#proveit-list .proveit-item:hover {
	background: #ccc;
	cursor: pointer;
}

#proveit-list .proveit-item .proveit-reference-number,
#proveit-list .proveit-item .proveit-reference-arrow {
	margin-right: .4em;
}

#proveit-list .proveit-item .proveit-citation-letter {
	font-size: .9em;
	margin-right: .5em;
	position: relative;
	top: -.5em;
}

#proveit-list .proveit-item .proveit-template-select {
	font-weight: bold;
	margin-right: 10px;
	white-space: nowrap;
}

#proveit-no-references-message,
#proveit-no-template-data-message {
	text-align: center;
	padding: 10px;
}

#proveit-form div {
	position: relative;
}

#proveit-form label {
	box-sizing: border-box;
	display: inline-block;
	padding: .4em;
	vertical-align: top;
	width: 30%;
}

#proveit-form .proveit-required label {
	font-weight: bold;
}

#proveit-form .proveit-deprecated label {
	text-decoration: line-through;
}

#proveit-form input,
#proveit-form select,
#proveit-form textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: white;
	border: 1px solid #f4f4f4;
	border-radius: 0;
	box-sizing: border-box;
	display: inline-block;
	font: inherit;
	outline: none;
	padding: .4em;
	vertical-align: middle;
	width: 70%;
}

#proveit-form select {
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
	padding: .4em .1em;
}

#proveit-form textarea {
	height: 60px;
	resize: vertical;
}

#proveit-reference-content {
	font-family: monospace !important;
}

#proveit-form button {
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 3px;
}

#proveit-footer {
	background: #f0f0f0;
	border-spacing: 0;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	overflow: hidden;
	text-align: right;
}

#proveit-footer input {
	border: 1px solid #ddd;
	box-sizing: border-box;
	float: left;
	font: inherit;
	margin: .3em;
	padding: 9px;
	width: 150px;
}

#proveit-header button,
#proveit-footer button {
	background: #ddd;
	border: none;
	cursor: pointer;
	font: inherit;
	margin: .3em;
	padding: 10px;
}

#proveit-header button:hover,
#proveit-footer button:hover {
	filter: brightness( 1.2 );
}

#proveit-header .progressive,
#proveit-footer .progressive {
	background: #36c;
	color: white;
}

/**
 * Simple CSS tooltip by Keenan Payne
 * http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/
 */
#proveit [data-tooltip] {
    position: relative;
}
#proveit [data-tooltip]:hover:after {
    background: #333;
    background: rgba( 0, 0, 0, .8 );
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-tooltip);
    font-weight: normal;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 99;
    width: 220px;
}
#proveit [data-tooltip]:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 100;
}