#proveit {
	background: white;
	border: 1px solid #ddd;
	font-size: 14px;
	position: fixed;
	z-index: 2147483647; /* Max value */
}

#proveit-logo {
	background: black;
	color: white;
	cursor: pointer;
	float: right;
	font-weight: bold;
	padding: 15px;
}

#proveit-left-bracket {
	color: yellow;
	margin-right: 5px;
}

#proveit-right-bracket {
	color: yellow;
	margin-left: 5px;
}

#proveit-list-tab,
#proveit-add-tab {
	color: black;
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: 15px;
}

#proveit-list-tab.active,
#proveit-add-tab.active {
	background: #a7dcff;
}

#proveit-content {
	background: #f4f4f4;
	border-top: 1px solid #ddd;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 700px;
	height: 300px;
	resize: both;
}

#proveit-reference-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#proveit-reference-list .proveit-reference-item {
	margin: 0;
	overflow: hidden;
	padding: 10px;
}

#proveit-reference-list .proveit-reference-item:nth-child(odd) {
	background: #f4f4f4;
}

#proveit-reference-list .proveit-reference-item:nth-child(even) {
	background: #fff;
}

#proveit-reference-list .proveit-reference-item:hover {
	background: #a7dcff;
	cursor: pointer;
}

#proveit-reference-list .proveit-reference-item .proveit-reference-template {
	font-weight: bold;
}

#proveit-reference-list .proveit-reference-item .proveit-required-param-value {
	margin-left: 10px;
}

#proveit-reference-list .proveit-reference-item .proveit-citations {
	float: right;
}

#proveit-reference-list .proveit-reference-item .proveit-citation {
	color: blue;
	padding: 3px;
}

#proveit-no-references-message {
	text-align: center;
	padding: 10px;
}

#proveit-reference-form {
	margin-bottom: 50px;
}

#proveit-reference-form table {
	border-spacing: 2px;
	width: 100%;
}

#proveit-reference-form label {
	border: 1px solid transparent;
	box-sizing: border-box;
	display: table-cell;
	padding: 5px;
	vertical-align: top;
	width: 200px;
}

#proveit-reference-form .proveit-required label {
	font-weight: bold;
}

#proveit-reference-form input,
#proveit-reference-form select,
#proveit-reference-form textarea {
	-webkit-appearance: none;
	background: white;
	border: 1px solid #ddd;
	border-radius: 0;
	box-sizing: border-box;
	display: table-cell;
	font: inherit;
	outline: none;
	padding: 5px;
	width: 100%;
}

#proveit-reference-form textarea {
	height: 60px;
	resize: vertical;
}

#proveit-buttons {
	background: white;
	border-spacing: 0;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	pointer-events: none;
	position: absolute;
	bottom: 0;
	text-align: right;
	width: 100%;
}

#proveit-buttons button {
	background: #a7dcff;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	font: inherit;
	margin-left: 10px;
	padding: 5px;
	pointer-events: all;
}

#proveit-buttons #proveit-cite-button,
#proveit-buttons #proveit-remove-button,
#proveit-buttons #proveit-params-button {
	background: none;
}